.aply_2 h2{background: #fff;padding: 0 0.7rem;font-weight: normal;height:2.2rem;line-height: 1.4rem;}
.aply_2 span{display: inline-block;}
.aply_2 .span_a{font-size: 0.6rem;font-weight: normal;}
.aply_2 .span_b,.aply_2 .span_d{font-size: 0.55rem;color: #19b7d4;}
.aply_2 .span_c{display: inline-block;padding: 0 0.25rem;background: url(../images/my_2_bg.png) no-repeat;
	width: 0.1rem;height: 0.55rem;background-size: 0.3rem 0.55rem;vertical-align: -0.05rem}
.aply_2 .span_c img{width:0.3rem;height: 0.55rem ;display: inline-block;vertical-align: bottom;}
.aply_2 .span_d{color: #666;}
.aply_2 .box,.aply_2 .box2,.aply_2 .box3{height: 2.025rem;line-height: 2.025rem;padding: 0 0.7rem;border-bottom: 0.025rem solid #f0f0f0;}
.aply_2 .box2{padding: 0;margin-left: 0.7rem}
.aply_2 .box label{width: 4rem;font-size: 0.55rem;color: #333;display: inline-block;}
.aply_2 .input_a,.aply_2 .input_b{width:7.35rem;border: 2px solid #fff; }
.aply_2 .input_b{width: 9.5rem}
.aply_2 .btn2{font-size: 0.55rem;color: #fff;background: #19B7D4;padding: 0.15rem 0.35rem}
.aply_2 .box .label_b{color: #666}
.aply_2 .box .label_b span{color: #f1352b;padding-right:0.15rem;font-family: 宋体;}
.aply_2 .btn_b{background: #FF0198;color: #fff;width: 90%;margin: 0.625rem auto;display: block;height: 1.625rem;
	line-height: 1.625rem;font-size: 0.6rem;}
.aply_2 .box2 .sex a{display: inline-block;}
.aply_2 .box2 .sex{font-size: 0.5rem;display: inline-block;margin-right: 1.2rem}
.aply_2 .box2 .a_1,.aply_2 .box .active1{background: url(../images/01_09.png) no-repeat;background-size: 100%;width: 0.6rem;height: 0.6rem
		;vertical-align: middle;margin-right: 0.125rem;}
.aply_2 .box3{height: 5.675rem}
.aply_2 textarea{display: block;height: 3.0rem;width: 14rem;margin-top: -0.5rem;border: none;}
.aply_2 input{font-size: 0.55rem;}
.aply_2 .box input.Validform_error{border: 2px solid #f24940;background-color: #fff1f1;color: #f1352b;
		text-indent: 0.3rem; }
.aply_2 .box .active1{background: url(../images/01_07.png) no-repeat;background-size: 100%;}

