body,ul,dl,dd,h1,h2,h3,h4,h5,h6,p,table{margin:0;padding:0;}
/*reset end*/
html{font-size: 20px;}
body{font-family:"\5FAE\8F6F\96C5\9ED1"; color: #333;}
button,input{font-family: "\5FAE\8F6F\96C5\9ED1";outline:none;border:0;}
img{border: 0;}
ul{list-style: none;}
li{list-style:none;}
a{text-decoration: none;color:#333;}
.relative{position: relative;}
.absolute{position: absolute;}
.fr{float: right;}
.fl{float: left;}
.clearfix:after{content: "\200B";display: block;height: 0;clear: both;}
.clearfix{*zoom: 1;}
/*common end*/
.logo{background: url(../images/logo.svg) no-repeat;background-size: 3.775rem 1.175rem;height: 1.175rem;width: 3.775rem;margin-left: 0.55rem;}
.head{background-color: #fff;padding: 0.7rem 0 0.625rem 0;}
.head-wrap{border-bottom:0.525rem solid #eee;}
.head img{float: right;width:1.15rem;height: 0.85rem;margin-right: 0.725rem;}
/*head end*/
.bor{border-bottom: 1.125rem solid #E5E5E5;}
.foot{background-color: #01C1D6;padding-top: 1.175rem;padding-bottom: 0.55rem;}
.buy{width: 15.2rem;color: #fff;margin-bottom: 1.6rem;}
.buy h1{font-size: 0.5rem;font-weight: normal;margin-bottom: 0.4rem;margin-left: 0.55rem;}
.buy p{margin-left: 0.55rem;}
.buy .first a{width: 48%;display: inline-block;margin-right: 0;overflow: hidden;white-space:nowrap; 
text-overflow:ellipsis;}
.line{border-bottom: 1px solid #80E0EB;margin-left: 0.4rem;}
.buy p a{font-size: 0.45rem;color: #fff;margin-right: 1rem;}
.call{margin: 0 auto;width: 14.5rem;}
.call img{width: 14.5rem;height: 2.15rem;margin-bottom: 0.75rem;}
.long{border-top: 1px solid #80E0EB;}
.bottom{font-size: 0.35rem;color: #fff;width: 11.5rem;margin:0.55rem auto 0;}
/*foot end*/
/* claim start */
.claim_h1{font-size: 0.6rem;font-weight: normal; height:1.975rem; line-height:1.975rem;  padding-left: 0.7rem;}
.claim_border_bottom{border-bottom: 0.025rem solid #E5E5E5;}
.claim_content{width: 100%}
.claim_content_h2{ height: 2.5rem;padding-left: 0.7rem;line-height: 3.25rem; font-size: 0.55rem; font-weight: normal;}
.claim_mark{ margin-left: 0.75rem;}
.claim_mark span{ color: #FF6600;}
.claim_row,.claim_line{ background-color: #F5F5F5;height:1.5rem; font-size: 0.45rem;}
.claim_line{ background-color: #fff;}
.claim_row div,.claim_line div{height:1.5rem; line-height: 1.5rem}
.claim_left,.claim_left_style{ width: 4.7rem; background-color: #E7F3F5; text-align: right; padding-right:1.075rem;}
.claim_left_style{background-color: #F0FDFF;}
.claim_right{ padding-left: 0.95rem;}
.claim_leftStateImg,.claim_rightStateImg{ height:5.825rem;width: 50%; }
.claim_leftStateImg{background:#F5F5F5 url(../images/claim_03.png) right 1.775rem no-repeat;background-size: 5.625rem 2.675rem;}
.claim_rightStateImg{background:#F5F5F5 url(../images/claim_04.png) left 1.775rem no-repeat;background-size: 5.375rem 2.675rem;}
.claim_wrap{ border-top: 0.025rem solid #E5E5E5;}
.claim_wrap_row{padding-top: 0.575rem; padding-bottom:0.95rem; width: 14.5rem;margin: 0 auto;}
.claim_wrap_p{ line-height: 0.9rem;font-size: 0.5rem;}
.claim_file{display: block; width: 3.325rem;height: 0.975rem; margin-top: 0.25rem; margin-left: 0.025rem; background-color: #01C1D6; font-size: 0.475rem; color: #fff;}
.claim_return{width: 4.125rem;margin-top: 0.15rem;height: 1.45rem; text-align: center; line-height: 1.45rem;background-color: #FF0198;font-size: 0.55rem; color: #fff;}
/* claim end */
/*check start*/
.check .check-tit{height:2.0rem;line-height:2.0rem;padding-left:0.7rem;font-size:0.55rem;font-weight:400;}
.check .check-con{padding:1.175rem 0.7rem 1.0rem;border-top:0.025rem solid #e5e5e5;}
.check .check-group{margin-bottom: 0.8rem;overflow: hidden;}
.check .check-course{font-size: 0.5rem;}
.check .check-course strong{float:left;width:2.275rem;margin-right: 0.825rem;color:#666;font-weight:normal;text-align: right;}
.check .check-course span{float:left;width:2.8rem;}
.check .check-course .cor-Y{color:#f60;}
.check .check-course .cor-B{color:#1DC6D9;}
.check .check-btngroup{text-align: right;font-size:0;}
.check .check-btngroup button{width:3.15rem;height:1.2rem;color:#fff;font-size:0.6rem;background-color: #01C1D6;cursor:pointer;}
@media(max-width:640px){
	.check .check-course strong,.check .check-course span{width:auto;}
}
/*check end*/
/*success start*/
.success{height:13.5rem;position:relative;overflow: hidden;}
.success .bg{position: absolute;top:3.4rem;left:50%;margin-left:-1.65rem;width:3.375rem;height: 3.3rem;background: url(../images/success.png) no-repeat;background-size:100% 100%;}
.success-con{margin-top: 7.75rem;text-align: center;}
.success-con p{margin-bottom:0.35rem;color:#01c1d6;font-size: 0.65rem;}
/*success end*/
/*aply start*/
.aply_2 h2{background: #fff;padding: 0 0.7rem;font-weight: normal;height:2.2rem;line-height: 1.4rem;}
.aply_2 span{display: inline-block;}
.aply_2 .span_a{font-size: 0.6rem;font-weight: normal;}
.aply_2 .span_b,.aply_2 .span_d{font-size: 0.55rem;color: #19b7d4;}
.aply_2 .span_c{display: inline-block;padding: 0 0.25rem;background: url(../images/my_2_bg.png) no-repeat;
	width: 0.1rem;height: 0.55rem;background-size: 0.3rem 0.55rem;vertical-align: -0.075rem}
.aply_2 .span_c img{width:0.3rem;height: 0.55rem ;display: inline-block;vertical-align: bottom;}
.aply_2 .span_d{color: #666;}
.aply_2 .box,.aply_2 .box2,.aply_2 .box3{height: 2.025rem;line-height: 2.025rem;padding: 0 0.7rem;border-bottom: 0.025rem solid #f0f0f0;}
.aply_2 .box2{padding: 0;margin-left: 0.7rem}
.aply_2 .box label{width: 4rem;font-size: 0.55rem;color: #333;display: inline-block;}
.aply_2 .input_a,.aply_2 .input_b{width:7.35rem;border: 2px solid #fff; }
.aply_2 .input_b{width: 9.5rem}
.aply_2 .btn2{font-size: 0.55rem;color: #fff;background: #19B7D4;padding: 0.15rem 0.35rem}
.aply_2 .box .label_b{color: #666}
.aply_2 .box .label_b span{color: #f1352b;padding-right:0.15rem;font-family: 宋体;}
.aply_2 .btn_b{background: #FF0198;color: #fff;width: 90%;margin: 0.625rem auto;display: block;height: 1.625rem;
	line-height: 1.625rem;font-size: 0.6rem;}
.aply_2 .box2 .sex a{display: inline-block;}
.aply_2 .box2 .sex{font-size: 0.5rem;display: inline-block;margin-right: 1.2rem}
.aply_2 .box2 .a_1,.aply_2 .box .active1{background: url(../images/alpy_check02.png) no-repeat;background-size: 100%;width: 0.6rem;height: 0.6rem
		;vertical-align: -0.11rem;margin-right: 0.125rem;}
.aply_2 .box3{height: 5.675rem}
.aply_2 textarea{display: block;height: 3.0rem;width: 14rem;margin-top: -0.5rem;border: none;font-size: 0.55rem}
.aply_2 input{font-size: 0.55rem;}
.aply_2 .box input.Validform_error{border: 2px solid #f24940;background-color: #fff1f1;color: #f1352b;
		text-indent: 0.3rem; }
.aply_2 .box .active1{background: url(../images/alpy_check01.png) no-repeat;background-size: 100%;}
/*aply end*/

