.check .check-tit{height:2.0rem;line-height:2.0rem;padding-left:0.7rem;font-size:0.55rem;font-weight:400;}
.check .check-con{padding:1.175rem 0.7rem 1.0rem;border-top:0.025rem solid #e5e5e5;}
.check .check-group{margin-bottom: 0.8rem;overflow: hidden;}
.check .check-course{font-size: 0.5rem;}
.check .check-course strong{float:left;width:2.275rem;margin-right: 0.825rem;color:#666;font-weight:normal;text-align: right;}
.check .check-course span{float:left;width:2.8rem;}
.check .check-course .cor-Y{color:#f60;}
.check .check-course .cor-B{color:#1DC6D9;}
.check .check-btngroup{text-align: right;font-size:0;}
.check .check-btngroup button{width:3.15rem;height:1.2rem;color:#fff;font-size:0.6rem;background-color: #01C1D6;cursor:pointer;}
@media(max-width:640px){
	.check .check-course strong,.check .check-course span{width:auto;}
}
/*check end*/
.success{height:13.5rem;position:relative;overflow: hidden;}
.success .bg{position: absolute;top:3.4rem;left:50%;margin-left:-1.65rem;width:3.375rem;height: 3.3rem;background: url(../images/success.png) no-repeat;background-size:100% 100%;}
.success-con{margin-top: 7.75rem;text-align: center;}
.success-con p{margin-bottom:0.35rem;color:#01c1d6;font-size: 0.65rem;}


{0.3rem}